name: Playwright Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Set npm registry
        run: npm config set registry https://registry.npmjs.org/

      - name: Install dependencies
        run: npm install --force

      - name: Install Playwright
        run: npx playwright install

      - name: Build the Angular app
        run: npm run build

      - name: Start the app
        run: |
          npm start &
          npx wait-on http://localhost:4200
        env:
          PORT: 4200

      - name: Run Playwright tests
        id: run-tests
        run: |
          npx playwright test --output=results.json || exit 1
          if jq -e '.[] | select(.status == "failed")' results.json > /dev/null; then
            echo "Tests failed."
            exit 1
          else
            echo "Tests passed."
          fi

      - name: Upload test results
        if: always()  # Upload artifact regardless of the test result
        uses: actions/upload-artifact@v3
        with:
          name: playwright-results
          path: results.json

  notify:
    needs: e2e
    runs-on: ubuntu-latest
    if: failure()  # Ensure this job runs only if the e2e job failed
    steps:
      - name: Send email notification
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Playwright Test Failure Notification
          to: ditoey2002@gmail.com
          from: krisd3214@gmail.com
          body: |
            The Playwright tests have failed. Please check the attached results for more information.
          attachments: results.json
